body{
	background: #bdd6e9;
}
.title{
    padding: 2%;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cart{
	margin: 40px 0;
	background-color: #acc1d6;;
	padding: 40px ;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 20px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-item img {
	width: 112px;
}

.cart-item h5{
    padding: 0 35px;
    font-size:medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cart-item .remove-item{
	width: 22px!important;
}
.cart-item .like-item{
    margin-left: 19px;
	width: 26px;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
	flex-wrap: nowrap;
}
.status{
	text-align: right;
}
.check-out{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
}
